<footer class="w-full max-w-screen-xl mx-auto pb-8">
  <span class="block text-sm text-gray-500 text-center"
    >© 2025 <span>France Tech Community™</span>. Tous droits réservés.</span
  >
</footer>
