---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header role="banner" class="w-full bg-[#1E2938] py-12 px-28">
  <h2 class="text-white font-bold text-3xl leading-normal" set:html={title} />
  <p class="text-[#EFEFEF] text-lg leading-5">{description}</p>
</header>
